html {
    font-size: 62.5%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    cursor: pointer;
    text-decoration: none;
}
:root {
    --sky-blue: #AECFDF;
    --light-green: #81E4DA;
    --dark-green: #47E5BC;
}

header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: var(--light-green);
}
header .header-socialNetworks-icon-container {
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-self: center;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}
header .header-socialNetworks-icon-container a {
    display: flex;
    justify-content: center;
    align-items: center;
}
header .header-socialNetworks-icon-container a:hover {
    background-color: var(--dark-green);
    border-radius: 5px;
}
header .header-socialNetworks-icon-container a img {
    width: 40px;
}

header nav {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: var(--dark-green);
}
header nav .header-nav-logo-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav .header-nav-logo-container a {
    display: flex;
    width: 65px;
    height: 65px;
    justify-items: center;
    justify-content: center;
}
header nav .header-nav-logo-container a img {
    border-radius: 50%;
    width: 100%;
}

header nav .header-nav-mainNav {
    display: flex;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-items: center;
    align-self: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}
header nav .header-nav-mainNav a {
    color: black;
    font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: 0.1rem;
}
header nav .header-nav-mainNav a:hover {
    padding-bottom: 0.5px;
    border-bottom: 1.5px solid black;
}


main {
    height: auto;
    width: 100%;
}
main .main-welcome-container {
    position: relative;
    height: 500px;
    display: flex;
    justify-content: center;
    justify-items: center;
}
main .main-welcome-container img{
    width: 100%;
    height: 500px;
}
main .main-welcome-container h1 {
    position: absolute;
    font-size: 4rem;
    font-weight: bold;
    bottom: 20px;
    text-align: center;
    padding: 8px;
    border-radius: 8px;
    background: rgba(209, 210, 212, 0.4);
}

main .main-services-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .main-services-container .card-services-container {
    padding: 20px;
    height: auto;
    margin: 20px 0;
    row-gap: 40px;
    
    display: grid;
    min-width: 320px;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
main .main-services-container .card-services-container .card-services {
    width: 300px;
    text-align: center;
    background-color: var(--light-green);
    height: 450px;
    padding: 10px 0px;
    display: grid;
    grid-template-rows: 180px 40px 210px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    -webkit-box-shadow: 3px 3px 7px 1px rgba(0,0,0,0.78); 
    box-shadow: 3px 3px 7px 1px var(--sky-blue);
}
main .main-services-container .card-services-container .card-services img {
    width: 250px;
    object-fit: cover;
}
main .main-services-container .card-services-container .card-services h2 {
    font-size: 2.2rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
}
main .main-services-container .card-services-container .card-services p {
    font-size: 1.4rem;
    font-weight: 500;
}


footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--sky-blue);
    padding: 10px;
}
footer .personal-information {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-bottom: 20px;
}
footer .personal-information .personal-information-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
}
footer .personal-information .personal-information-data img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
}
footer .personal-information .personal-information-data p {
    font-size: 1.5rem;
    font-weight: 300;
}

footer .personal-information .personal-information-contact {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    row-gap: 20px;
}
footer .personal-information .personal-information-contact div img {
    width: 60px;
}
footer .personal-information .personal-information-contact .personal-information-contact-location {
    display: flex;
    column-gap: 10px;
}
footer .personal-information .personal-information-contact .personal-information-contact-location p {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0.1rem;
}

footer .personal-information .personal-information-contact .personal-information-contact-phone {
    display: flex;
    column-gap: 10px;
}
footer .personal-information .personal-information-contact .personal-information-contact-phone p {
    font-size: 2.6rem;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    align-self: center;
}

footer .map {
    width: 100%;
}
footer .map iframe {
    width: 100%;
}



main .about-us {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .about-us .about-us-container {
    max-width: 800px;
    background-color: var(--light-green);
    width: 80%;
    height: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    justify-content: center;
    column-gap: 10px;

    -webkit-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.47); 
    box-shadow: 0px 0px 9px 3px var(--sky-blue);
}
main .about-us .about-us-container img {
    width: 100%;
    border-radius: 50%;
    height: 60px;
}
main .about-us .about-us-container .about-us-container-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}
main .about-us .about-us-container .about-us-container-info h2 {
    border-bottom: 1px solid black;
    padding: 0 4px;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.07rem;
}
main .about-us .about-us-container .about-us-container-info p {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    letter-spacing: 0.04rem;
    padding: 20px 0;
}

main .vision-and-mission-container {
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 20px;
    padding: 0 20px;
}
main .vision-and-mission-container .vision, .mission {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: none;
    row-gap: 10px;
    max-width: 800px;
}
main .vision-and-mission-container h2 {
    border-bottom: 1px solid var(--dark-green);
    padding: 0 8px;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
}
main .vision-and-mission-container p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    letter-spacing: 0.04rem;
}