html {
    font-size: 62.5%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    cursor: pointer;
    text-decoration: none;
}

header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: rgba(9, 176, 176, 0.363);
}
header .header-socialNetworks-icon-container {
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-self: center;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}
header .header-socialNetworks-icon-container a {
    display: flex;
    justify-content: center;
    align-items: center;
}
header .header-socialNetworks-icon-container a:hover {
    background-color: rgba(17, 255, 255, 0.363);
    border-radius: 5px;
}
header .header-socialNetworks-icon-container a img {
    width: 40px;
}

header nav {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: aqua;
}
header nav .header-nav-logo-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav .header-nav-logo-container a {
    display: flex;
    width: 65px;
    height: 65px;
    justify-items: center;
    justify-content: center;
}
header nav .header-nav-logo-container a img {
    border-radius: 50%;
    width: 100%;
}

header nav .header-nav-mainNav {
    display: flex;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-items: center;
    align-self: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}
header nav .header-nav-mainNav a {
    color: black;
    font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: 0.1rem;
}
header nav .header-nav-mainNav a:hover {
    padding-bottom: 0.5px;
    border-bottom: 1.5px solid black;
}